h2 {
	color: seagreen; 		/* Change colour of heading text */
}

p {
	color: cadetblue; 		/* Change colour */
	text-align: center;		/* Text in the centre */
	border: 5px solid rgb(180, 204, 226);	/* border around text box */
}